.Weapon {
	background-color: #fff;
	border: 2px solid transparent;
	border-radius: 50%;
	display: inline-block;
	color: #4B6A90;
	font-size: 60px!Important;
	height: 60px !Important;
	line-height: 60px !Important;
	padding: 20px !Important;
	text-align: center;
	width: 60px !Important;
}

.Weapon .empty {
	background-color: transparent;
	border: 2px dashed #fff;
	color: #fff;
	font-size: 30px;
}